/* CSS for JavaScript-Calculator assignment 
    by Gabor Koncz
*/


/* 
==========================================================================
Globals
==========================================================================
*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v8/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	background-image: url("/static/img/bg.png");
	background-size: cover;
	background-attachment: fixed;
}

body {
	box-sizing: border-box;
	line-height: 1em;
	font-size: 1em;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
	overflow: hidden;
}


/* 
==========================================================================
Calculator
==========================================================================
*/

.calc-body {
    min-width: 281px;
  	max-width: 281px;
  	height: 481px;
  	background: #212121;
	border-radius: 3px;
  	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

.nav {
	background: #424242;
	border-radius: 3px;
	width: 280px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	z-index: 3;
	padding: 3px 5px 0px 5px;
}
.nav .close i {
	color: white;
	font-size: 22px;
	cursor: pointer;
}
.nav .minify {
  	margin-left: 5px;
}
.nav .minify i {
	color: white;
	font-size: 22px;
	cursor: pointer;
}

.result {
	max-width: 280px;
 	overflow: hidden;
	position: relative;
  	height: 130px;
  	border-radius: 5px 5px 0px 0px;
  	padding: 0px 20px;
	background: -webkit-linear-gradient(#424242, #212121); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#424242, #212121); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#424242, #212121); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#424242, #212121); /* Standard syntax (must be last) */
}

.result .summary {
  	position: absolute;
  	top: 35px;
  	right: 20px;
}

.result .summary p {
  	color: #727272;
  	display: inline;
}

.result .summary p:first-child, .result .summary p:nth-child(2), .result .summary p:nth-child(3) {
  	margin-right: 3px;
}
.result .current {
  	position: absolute;
  	bottom: 30px;
  	right: 20px;
}
.result .current h1 {
  	font-size: 2.5em;
  	color: white;
  	font-weight: 300;
}

.row {
	width: 325px;
}

/*buttons*/
.buttons {
	margin: 0.5px;
	height: 350px;
}
.buttons span {
	font-size: 1.5em;
	font-weight: 100;
	line-height: 69px;
	float: left;
	width: 69px;
  	height: 69px;
	background: -webkit-linear-gradient(#EEEEEE, #E0E0E0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEEEE, #E0E0E0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEEEE, #E0E0E0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEEEE, #E0E0E0); /* Standard syntax (must be last) */
	margin: 0.5px;
  	cursor: pointer;
	text-align: center;
}

.buttons .operator span {
	background: -webkit-linear-gradient(#FF8A65, #FF7043); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF8A65, #FF7043); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF8A65, #FF7043); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FF8A65, #FF7043); /* Standard syntax (must be last) */
}

.buttons span:active {
  	box-shadow: inset 0px 0px 80px 0px rgba(0,0,0,0.25);

}




/* 
==========================================================================
Notepad
==========================================================================
*/

.notepad {
	font-family: 'Indie Flower', cursive;
	position: absolute;
	top: 350px;
	left: 550px;
}

.notepad h1 {
	font-size: 3em;
}

.notepad ul {
	margin-top: 1em;
	font-size: 2em;
	list-style-type: none;
}

.notepad li {
	cursor: pointer;
	margin: 0.5em;
}

.notepad .material-icons { 
	cursor: pointer;
	font-size: 36px; 
}

.notes {
	font-family: 'Indie Flower', cursive;
	position: absolute;
	top: 350px;
	left: 1100px;
}

.notes h1 {
	font-size: 3em;
}

.notes textarea {
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	margin-top: 1em;
	resize:vertical;
	border: none;
}